.header-color {
  background-color: purple !important;
}

.navbar-brand {
  color: white !important;
}

.btn {

}

.form-control {
  margin-bottom: 10px;
}

.navbar-brand {
  margin-top: 5px;
}

.thead-header {
  background-color: #c7c6c6;
}

.featurette-divider {
  margin-top: 50px;
  margin-bottom: 50px;
}

.col-padding3 {
  padding-left: 250px;
}
